@charset "utf-8";

body {
    margin:0;
}

.content-1 {
    height: 100%;
    background-color: #fff;
}
.content-2 {
    height: 100%;
    background-color: rgb(240, 240, 240);
}
.content-3 {
    height: 100%;
    background-color: #fff;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container-flex>div {
    flex:1 1 50%;
    width: 50%;
    /* height: 100vh; */
    text-align: center;
    height: 100%;
}

.container-flex .my-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-height: 100%;
}

.container-flex .my-image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-flex .my-introduce {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-flex .my-introduce span{
    display:inline-block;
    font-size: 80px;
}

.container-flex .my-introduce .text-bold{
    font-weight: 600;
    display:block;
}

.info-wrap {
    height: 100%;
}

.info-wrap .info-title {
    margin-top: 100px;

}
.info-wrap .info-title .title {
    font-size: 60px;
    margin:0 0 50px 0;
}

.info-wrap .info-title .min-title {
    font-size: 30px;
}

.personal-information .info-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 50px;
    border:1px solid #000;
}

.personal-information .info-area>li+li {
    margin-top: 50px;
}

.personal-information .info-area>li .info-box {
    display: flex;
    padding:15px;
}

.personal-information .info-area>li .info-box .info-content-left {
    flex: 0 0 150px;
    width:150px;
    border-top:5px solid #000;
    margin-right: 25px;
}

.personal-information .info-area>li .info-box .info-content-left .tit {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.personal-information .info-area>li .info-box .info-content-right {
    flex : 1 1 auto;
    display: flex;
    border-top:5px solid #000;
}

.personal-information .info-area>li .info-box .info-content-right .content-box-left {
    flex: 0 0 100px;
    padding-top:10px;
}

.personal-information .info-area>li .info-box .info-content-right .content-box-left>span {
    display: flex;
    text-align: left;
    line-height: 1.5;
    font-size: 16px;
}

.personal-information .info-area>li .info-box .info-content-right .content-box-right {
    flex: 1 1 auto;
    padding-top:10px;
}

.personal-information .info-area>li .info-box .info-content-right .content-box-right>span {
    display: block;
    text-align: left;
    line-height: 1.5;
    font-size: 16px;
}

.info-content-detail>p{
    text-align: left;
    line-height: 2;
}

.info-content-detail .detail_bold{
    font-weight: 600;
}