@charset "utf-8";

.contan{max-width:1400px; margin:0 auto;}
.pc{display:block !important;}
.mb{display:none !important;}

@media (max-width:770px){
    .pc{display: none !important;}
    .mb{display: block !important;}
}

/* header stert*/

/*샵 타이틀*/
.top_tit{border-bottom:1px solid #f2f2f2; background: #fff;}
.top_tit .top_btn{display: flex; justify-content: center;}
.top_tit .top_btn li{font-size:1.3rem; color:#333; padding:1rem;}
.top_tit .top_btn li a{color:#333;}

/* 마스터 공급사 셀러 버튼  */
.top_link_blank{width: 100%; justify-content: flex-end!important; display: flex; padding: 1rem 0; background: rgb(54, 54, 54);  position: sticky; top:0; z-index: 101;}
.top_link_blank>li{width: 100%; text-align: right;}
.top_link_blank>li>a{display: inline-block; color: #fff!important; border: 1px solid #8f8f8f; box-sizing: border-box; font-size: 1.3rem; padding: 0.6rem 0.3rem; margin-left:0; margin-right: 1.1rem; border-radius: 2.5rem; color: #333; width: calc(6% - 3px); text-align: center;}
.top_link_blank>li>a:hover{background: #bb589b; border: 1px solid #bb589b;}

/*로고 sns*/
.logo_con .contan{justify-content: space-between; display: flex; padding:3rem 1rem; align-items: center;}
.logo_con .logo {flex-basis: 55%; text-align: right;}
.logo_con .logo a{display:inline-block;}
.logo_con .logo_l_i{flex-basis: 20%;}
.logo_con .logo_l_i ul{justify-content: center; display: flex; }
.logo_con .logo_l_i ul li{padding:1rem;}
.logo_con .logo_l_i ul li a{background:none; border:1px solid #ddd; width:5rem; height:5rem; border-radius:5rem; font-size:2.4rem; display: inline-block; line-height: 5rem; text-align: center; color:#333; transition:.5s;}
.logo_con .logo_l_i ul li a:hover{background-color:#333; color:#fff; transition:.5s;}

/*왼쪽메뉴,오른쪽 통합검색*/
.side_m {width: 100%; display: flex; justify-content: space-between; border-top:1px solid #ddd; border-bottom:1px solid #ddd;  transition: all 0.5s; position: sticky; top: 45px; z-index: 100; background-color:#fff;}
.side_m>ul{display: flex; justify-content: center; align-items: center; flex-basis: 80%;}
.side_m>ul>li{padding:0 2.4rem; display: inline-flex; justify-content: center; overflow: hidden;}
.side_m>ul>li>a{font-size:1.4rem; color:#333; line-height: 4rem;}

.side_all_btn{background-color:#333; padding: 0 2rem; display: inline-flex; align-items: center; justify-content: center; flex-basis: 10%; cursor: pointer;}
.side_all_btn button{background:none; color:#fff; border:0; font-size:1.4rem; line-height: 3.5rem; }
.side_all_btn .slid_ham{color:#fff; display: inline-flex; width:3.5rem; flex-direction: column; align-items: center;}
.side_all_btn .slid_ham span{display:flex; background-color:#fff; height:0.1rem; width:2.5rem; margin-bottom: 0.5rem; transition:.5s;}
.side_all_btn .slid_ham span:last-child{margin-bottom: 0;}
.main_search{background-color:#333; display: inline-flex; align-items: center; justify-content: center; flex-basis: 10%;}
.main_search button{line-height: 3.5rem; border:0; background:none; color:#fff; font-size:1.4rem; display: block; width:100%; }
.search_conten{position: absolute; left:0; right:0; top:calc(100% + 0.1rem); background-color:#f2f2f2; display:none; border-bottom:1px solid #ddd;}
.search_wrap{padding:2rem 0; position: relative; }
.cate_brand{cursor: pointer;}
.search_all{display: flex; justify-content: center;}
.search_all p{line-height: 4rem; padding:0 2rem; font-size:1.4rem;}
.search_all .search_inner{background-color:#fff;}
.search_all input{border:0; height:4rem; background:none; min-width: 20rem; padding:0 1rem;}
.search_all button{border:0; height:4rem; padding: 0 1rem; font-size:1.6rem; background:none; border-left:1px solid #ddd;}
.search_btn{position: absolute; left:50%; bottom:0; top:100%; transform: translate(-50%, -50%); background-color:#333; color:#fff; border:0; border-radius:50px; height:4rem; width:4rem; font-size:1.6rem;}

@media (max-width:1280px){
    .category_cover{overflow-y: scroll;}
    .mask_close button{padding:0;}
    .cate_bottom{position: relative;}

}
@media (max-width:990px){
    .cate_bottom{position: relative;}
    .top_tit .top_btn{display: none;}

}
@media (max-width:770px){
    .cate_bottom .cb_call{padding-bottom: 10rem;}
    .search_all input{min-width:auto;}
    .search_all p{padding:0; margin-right: 1rem; line-height: 3rem;}
    .search_all input{line-height: 3rem; height:3rem;}
    .search_all button{line-height: 3rem; height:3rem;}
    .logo_con .container{padding: 1rem;}
    .logo_con .contan {justify-content: space-around;}
    .logo_con .logo_l_i ul li{padding: 0.3rem;}
    .logo_con .logo_l_i ul li a{font-size:1.5rem; width: 4rem; height: 4rem; line-height: 4rem;}
    .logo_con .logo a img{max-width: 100%;}
    .top_link_blank{padding: 0.7rem 0 ; justify-content: center!important;}
    .top_link_blank>li>a:hover{background: rgb(54, 54, 54); border: 1px solid #8f8f8f;}
    .top_link_blank>li>a:nth-child(1), .top_link_blank>li>a:nth-child(2){margin-top: 0;}
    .top_link_blank>li>a {width: 46%; text-align: center; padding: 0.7rem 0.2rem; margin-top: 1rem;}
}
@media (max-width:320px){
    .top_link_blank{margin-bottom: 0; padding: 0.7rem;}
    .top_link_blank>li{width: 100%;}
    .top_link_blank>li>a{width: 47%; display: inline-block;  text-align: center; padding: 5px 7px; margin-left: 0}
}
@media (min-width:200px) and (max-width: 319px){
    .top_link_blank>li>a {width: 100%; margin: 0.5rem 0;}
}

/*검색모달*/
.search_modal .modal-content{background:none; border:0;}
.search_modal .modal-header{text-align: center; justify-content: center !important; border-bottom:0; padding: 4rem 0;}
.search_modal .modal-header .search_mod_close{padding:0; margin:0; outline: none; font-size:2rem; color: #fff; background:none; border-radius:50px; border:2px solid #fff; padding: 2rem; }
.search_mod_form{display: flex; flex-direction: column;}
.search_mod_form .search_mod_input{display: inline-flex; justify-content: center;}
.search_mod_form .search_mod_input select option{background:rgba(0,0,0,0.9); box-shadow:0 !important; font-size:1.5rem;}
.search_mod_form .search_mod_input .smi_input{flex-basis: 63%;  border-bottom:2px solid #fff; }
.search_mod_form .search_mod_input .smi_input input{width:100%; background:none; border:0; outline: none; font-size:2rem; color:#fff; line-height: 5rem;}
.search_mod_form .search_mod_input button{flex-basis:10%; line-height: 5rem; border:0; font-size:3rem; background:none; color:#fff;}
.search_modal .modal-body{padding:0;}

.side_all_btn:hover span:nth-child(1){transition:.5s; transform: rotate(45deg) translate(0.7rem, -0.5rem); width:1.1rem;}
.side_all_btn:hover span:nth-child(2){transition:.5s;}
.side_all_btn:hover span:nth-child(3){transition:.5s; transform: rotate(-45deg) translate(0.7rem, 0.5rem); width:1.1rem;}

@media (max-width:1280px){
    .side_m>ul>li{padding: 0 1rem;}
}
@media (max-width:1024px){
    .side_m>ul>li{padding: 0 0.5rem; width: 25%;}
}
@media (max-width:990px){
    .side_all_btn>button{display: none;}
    .main_search>button>span{display: none;}
}
@media (max-width:770px){
    .side_m{top: 81px !important;}
    .search_modal .modal-header .search_mod_close{padding: 1.2rem;}
    .search_mod_form .search_mod_input .smi_input{flex-basis:53%; font-size:1.5rem; border-radius:0; width:100%;}
    .search_mod_form .search_mod_input .smi_input input{line-height: 3.5rem;}
    .search_mod_form .search_mod_input button{flex-basis: 15%; padding:0; line-height: 3.5rem;}

    .side_m>ul{overflow-x: auto !important; display: block; overflow: hidden; white-space: nowrap; text-align: center;}
    .side_m>ul>li>a{white-space: nowrap; font-size:1.2rem;}
    .btn-flip:hover:after{padding: 0 1rem;}
    .side_all_btn{padding: 0 0.5rem;}
    .btn-flip:hover:after {transform: none;}
    .btn-flip:hover:before {transform: none; opacity:1;}
    .btn-flip:after {display: none;}
    .btn-flip:before {color:#000;}
}

.slid_mask{display:none; position: fixed; left:0; top:0; bottom:0; right:0; background-color:rgba(0,0,0,0); z-index: 100; cursor: pointer; transition:.5s; width: 100%; height:100%; overflow: hidden;}

.slid_mask.on{display: block; background-color:rgba(0,0,0,.7); transition:.5s;}
.mask_category{width:20vw; height:100vh; position: fixed; top:0; left:-100%; bottom:0; z-index:101; background-color:#fff; height:100vh; display: flex; flex-direction: column; transition:.5s; padding: 0.1rem;}
.mask_category.on{left:0; transition:.5s;}
.mask_close{position: absolute;left:100%; top:50%; transform: translateY(-50%);}
.mask_close button{width:3rem; height:6.6rem; font-size:2rem; border:0; background:url(../../images/cate_close_btn.png) no-repeat center center;color:#fff; z-index: 99; background-size:auto 100%;}
.mask_category .cat_tit_mem>ul{display: flex; justify-content:space-between; border-bottom:1px solid #ddd;}
.mask_category .cat_tit_mem>ul>li{width:calc(100%/2);text-align: center; border-right:1px solid #ddd;}
.mask_category .cat_tit_mem>ul>li:last-child{border:0; line-height: 3rem;}
.mask_category .cat_tit_mem>ul>li>a{line-height: 3rem; color:#333; font-size:1.2rem; }
.mask_category .cat_tit_mem .cat_t_btn{border-bottom:1px solid #ddd;}
.mask_category .cat_tit_mem .cat_t_btn .btn_list{display: flex; padding: 2rem 1.5rem;  justify-content: center;}
.mask_category .cat_tit_mem .cat_t_btn .btn_list a{border:1px solid #ddd; color:#fff; line-height: 3rem; padding: 0 3rem; font-size:1.2rem; background-color:#333;}
.mask_category .cat_tit_mem .cat_t_btn .btn_list a:first-child{margin-right: 0.5rem;}

.all_menu .con_cate{display: flex; flex-direction: column; max-height:56rem; overflow-y: scroll;}
.all_menu .con_cate::-webkit-scrollbar{display: none;}
.all_menu .con_cate>li{display: flex; justify-content: space-between; flex-direction: column; border-bottom:1px solid #f2f2f2;}
.all_menu .con_cate>li:hover{background-color:#333; transition:.5s;}
.all_menu .con_cate>li>a{line-height: 2.4rem; font-size:1.2rem; color:#000; flex-grow: 1; display: flex; justify-content: space-between; padding:1rem 2rem; cursor: pointer;}
.all_menu .con_cate>li:hover>a{color:#fff;}
.all_menu .con_cate>li>a>i{height: 2.4rem; width:2.4rem; line-height: 2.4rem; font-size:2rem;   text-align: center; border:1px solid #333; cursor: pointer; border-radius:5rem; color:#fff; color:#333; flex-grow: 0; transition:.5s;}
.all_menu .con_cate>li:hover>a>i{color:#fff; border-color:#fff;}
.all_menu .con_cate>li.open>a>i{transform: rotate(180deg); transition:.5s;}
.all_menu .con_cate>li>ul{display: none; background-color:#f3f3f3; overflow: hidden; border-top:1px solid #ddd;}
.all_menu .con_cate>li>ul>li{display: inline-block; width:50%; float: left; border-bottom:1px solid #ddd;}
.all_menu .con_cate>li>ul>li>a{line-height: 3rem; text-align: center; color:#000; font-size:1.2rem; justify-content: space-between; display: flex; width:100%; padding: 1rem; border-right:1px solid #ddd;}
.all_menu .con_cate>li>ul>li>a>i{line-height: 3rem;}
.all_menu .con_cate>li>ul>li:nth-child(even)>a{border-right:0;}

.cate_bottom{position: absolute; left:0; bottom:0; right:0; display: flex; flex-direction: column; background-color: #fff;}
.cate_bottom ul{display: flex; flex-direction: row; flex-wrap: wrap; border-top:1px solid #c7c7c7;}
.cate_bottom ul li{flex-basis: 50%;}
.cate_bottom ul li a{text-align: center; width:100%; display: block; line-height: 3rem; font-size:1.2rem; background-color:#ddd; color:#000; border-right: 1px solid #c7c7c7;border-bottom:1px solid #c7c7c7;}
.cate_bottom ul li a:hover{background-color:#525252; color:#fff; transition:.5s;}
.cate_bottom .cb_call{padding: 2rem 0; text-align: center;}
.cate_bottom .cb_call p{font-size:1.4rem; margin-bottom: 1rem;}
.cate_bottom .cb_call a{font-size:3rem; color:#000; line-height: 4rem;}
.cate_bottom .cb_call a i{background-color:#000; color:#fff; padding: 1rem; border-radius:1rem; margin-right: 1rem; font-size:2rem;}

/* 슬라이드 */
.main_b>div{position: relative;}
.main_b>div .slick-dots{position: absolute; left:50%; bottom: 2rem; transform: translateX(-50%); overflow: hidden;}
.main_b>div .slick-dots>li{float: left; padding:0 0.5rem;}
.main_b>div .slick-dots>li>button{text-indent: -99999px; width:1rem; height:1rem; background-color:rgba(0,0,0,.5); border:0; border-radius:1rem; transition:.5s;}
.main_b>div .slick-dots>li.slick-active>button{width:3rem; background-color:rgba(0,0,0,1);  transition:.5s;}
.main_b .single:first-child{flex-basis:calc(66.6666% - 0.5rem); overflow: hidden; position: relative;}
.main_b .single:last-child{flex-basis:calc(33.3333% - 0.5rem); overflow: hidden; position: relative;}
.main_b .slick-arrow{display: none!important;}


/*메인 배너*/
.single{overflow: hidden;}
.in_ban{display: flex; justify-content: space-between; padding-top: 3rem;}
.in_ban>div{position: relative;}
.in_ban>div .slick-dots{position: absolute; left:50%; bottom: 2rem; transform: translateX(-50%); overflow: hidden;}
.in_ban>div .slick-dots>li{float: left; padding:0 0.5rem;}
.in_ban>div .slick-dots>li>button{text-indent: -99999px; width:1rem; height:1rem; background-color:rgba(255,255,255,.5); border:0; border-radius:1rem; transition:.5s;}
.in_ban>div .slick-dots>li.slick-active>button{width:3rem; background-color:rgba(255,255,255,1);  transition:.5s;}
.in_ban .single:first-child{flex-basis:calc(66.6666% - 0.5rem); overflow: hidden; position: relative;}
.in_ban .single:last-child{flex-basis:calc(33.3333% - 0.5rem); overflow: hidden; position: relative;}
.in_ban .slick-arrow{display: none!important;}

@media (max-width:770px){
    .in_ban{flex-direction: column;}
    .in_ban>div{margin-bottom: 1rem;}
}

.new_prd{padding-top: 10rem; padding-bottom: 5rem;}
.titl_products>h1{font-size:2.4rem; line-height: 4.5rem; text-align: center; font-weight:700; text-transform: uppercase;}
.titl_products>h1 span{color:#22a8ef;}
.titl_products>p{text-align: center; font-size:1.4rem; color:#999; margin-bottom: 2rem;}

.pro_list_all{display: flex; flex-wrap:wrap;}
.pro_list_all>li{padding:1rem; overflow: hidden; max-width: 25%;}
.pro_list_all .por_img{position:relative; border:1px solid #f3f3f3;}
.pro_list_all .por_img button.wish_btn{position:absolute; right:0; bottom:2rem; opacity:0; transition:.5s; line-height: 2rem; font-size:1.2rem; padding: 0 2rem; border:1px solid #333; background-color:#f2f2f2; border-radius:5rem 0 0 5rem;}
.pro_list_all .por_img button.wish_btn i{color:#999;}
.pro_list_all .por_img button.wish_btn i.on{color:#e5186f;}
.pro_list_all .por_img:hover button.wish_btn{opacity:1; transform: translateY(-2rem); transition:.5s;}

.r_product>li{max-width: 25%; flex: auto;}

.sale_per{position: absolute; left:0; top:0; background-color: #333; color:#fff; width:3.5rem; height:3.5rem; line-height: 3.5rem; text-align: center; font-size:1.1rem; box-shadow: .3rem .3rem 0 rgba(0,0,0,.3); opacity: 0; transition:.5s;}
.pro_list_all .por_img:hover .sale_per{top:1.5rem; left:1.5rem; opacity:1; transition:.5s;}
.pro_list_all .por_img:hover .soldout_b{opacity:1; transition:.5s;}

.por_img .pro_img_clk{overflow: hidden; display: block;}
.pro_text{padding:1rem;}
.pro_text>a.brand_name{background-color:#333; display: inline-block; padding:0.5rem 1.2rem; color:#fff; border-radius:5rem; font-size:1.1rem; font-weight:300;}
.pro_text>a.pro_name{display: block; font-size: 1.6rem; color: #333; padding-top: 8px; border-bottom: 1px solid #ccc;  padding-bottom: 1rem;}
.pro_text .pp_num{font-size:1.4rem; font-weight:700; display: inline-block; padding-top: 0.6rem;}
.best_wrap {padding: 4rem 0;}
.in_slide{padding-bottom: 10rem;}

@media (max-width:1280px){
    .mask_category{width:50vw;}
}

@media (max-width:770px){
    .in_ban{flex-direction: column; justify-content: flex-start;}
    .mask_category{width:85vw;}
    .in_slide{padding-bottom: 0;}
    .best_item{padding: 0;}
    .pro_list_all>li{flex-basis: 50%; padding: 0.4rem;}
    .pro_text>a.brand_name{font-size:1rem; padding: 0.4rem;}
    .pro_text>a.pro_name{font-size:1.2rem; line-height: 1.6rem; margin-top: 0.5rem;}
    .pro_list_all .por_img .sale_per{opacity:1; top:0.5rem; left:0.5rem;}
    .pro_list_all .por_img:hover .sale_per{ top:0.5rem; left:0.5rem;}
    .pro_list_all .por_img button.wish_btn{opacity:1; bottom:0.5rem; padding: 0 0.5rem; border-color:#ddd;}
    .pro_list_all .por_img:hover button.wish_btn{transform: none;}
    .pro_list_all .por_img button.wish_btn span{display:none;}
    /* .best_wrap .weekly_prd li{flex-basis: 100%; padding: 0.3rem;} */
}
/* header end */

/**************************************************************/

/* footer stert */
.footer{overflow: hidden;}
.footer_top_box{border-bottom: 1px solid #e8e8e8; width: 100%;}
.footer_top_box .menu_bor{ overflow: hidden; border-top: 1px solid #e8e8e8;  border-bottom: 1px solid #e8e8e8;}
.footer_top_box .menu_bor ul{display: flex;  margin: 0 1rem; }
.footer_top_box .menu_bor ul li{ padding: 1.3rem 2.5rem;}
.footer_top_box .menu_bor ul li a{color: #939393; font-size: 1.3rem;}

.foo_link{ padding: 1rem 0;  background: rgb(54, 54, 54);}
.foo_link ul{justify-content: flex-end!important; display: flex;}
.foo_link>ul>li>a{display: inline-block; color: #fff!important; border: 1px solid #8f8f8f;  box-sizing: border-box; font-size: 1.5rem; padding: 0.7rem 1.6rem; margin: 0 1rem; border-radius: 4rem;  color:#333;} 
.foo_link>ul>li>a:hover{background: #bb589b; border: 1px solid #bb589b;}

.foo_contan{padding: 2rem 0;}
.foo_contan .contan{display: flex; justify-content: space-between;}
.foo_contan .contan>div{display: flex; flex-direction: column; flex-basis: 25%; padding: 0 2rem;}
.foo_contan .contan>div>h4{font-size:2rem; position: relative; padding-left: 1rem; margin-bottom: 1.5rem;}
.foo_contan .contan>div>h4:after{content: ''; position: absolute; height: 2rem; width:0.3rem; background-color:#333; left:0; }
.foo_customer>a{font-size: 3rem; font-weight:600; color:#333; margin-bottom: 1.5rem;}
.foo_customer p{font-size:1.2rem; line-height: 2rem;}
.foo_bank p{font-size:1.5rem; margin-bottom: 1.2rem;}
.foo_bank p.bank_no{font-size:2rem; font-weight: 700;}
.foo_bank p span{background-color:#333; color:#fff; border-radius: 3rem; padding: 0 1rem;}
.footInfo p{font-size: 1.3rem; line-height: 1.6rem;  color: #3f3f3f; padding: 0.3rem 0;}
.footInfo p span{color: #000;}
.copy{line-height: 3rem; text-align: center;}

@media (max-width:1280px) {
    .foo_link ul{margin-right: 0; flex-wrap: wrap; justify-content:flex-start!important;}
}

@media (max-width:1000px){
    .foo_contan .contan{display: flex; flex-wrap: wrap;}
    .foo_contan .contan>div{flex-basis: 50%; margin-bottom: 3rem;}
}

@media (max-width:770px){
    .foo_contan .contan>div{flex-basis:100%; margin-bottom: 2rem;}
    .foo_contan .contan>div>h4{font-size:1.5rem;}
    .foo_customer>a{font-size:2rem;}
    .foo_customer>p{font-size:1.2rem; line-height: 1.6rem;}
    .footInfo p{font-size:1rem;}
    .footer_top_box .menu_bor ul {flex-wrap: wrap; text-align: center; padding:0; margin:0;}
    .footer_top_box .menu_bor ul li{padding: 1rem 0rem; flex-basis: 33.3333%; background-color:#f3f3f3; border-bottom:1px solid #fff; border-right:1px solid #fff;}
    .footer_top_box .menu_bor ul li:nth-child(3){border-right: 0;}
    .footer_top_box .menu_bor ul li:nth-child(6){border-right: 0;}
    .foo_link ul li{width: 100%; text-align: center;}
    .foo_link>ul>li>a{width: 75%; text-align: center;  padding: 14px 22px;  margin: 6px 0px;}
    .foo_link>ul>li>a:hover{background: none;  border: 1px solid #8f8f8f;}

    .foo_link {height: 192px;} 
}
@media (min-width:200px) and (max-width: 319px){
    .foo_link>ul>li>a {width: 100%; margin: 0.5rem 0; padding: 0.7rem 0;}
    .foo_link>ul>li{width: 100%;}
}
/* footer end */


/**************************************************************************/


/* detail.html stert ***********************/
/*상세페이지*/
.detail_wrap {margin-top: 8rem;}
.detail_wrap .detail_title {border-bottom: 0.2rem solid #c4c4c4; display: flex; justify-content: space-between; padding: 2rem 0;}
.detail_wrap .detail_title h1 { font-size: 3rem; color: #444; font-weight: 700; line-height: 4.5rem;}
.detail_wrap .detail_title .detail_t_i button {border: 1px solid #cecece; background-color: #fff; height: 4.5rem; line-height: 4.5rem; padding: 0rem 1.5rem; margin-left: 0.5rem; font-size:1.4rem;}
.detail_wrap .detail_title .detail_t_i button i{font-size:2rem; transform: translateY(0.3rem);}
.detail_wrap .de_info {padding-top: 4rem; justify-content: space-between; display: flex;}
.detail_wrap .de_info .de_slid_wrap {width: 50%; display: inline-block;}
.detail_wrap .de_info .de_sthum {width: 100%;}
.detail_wrap .de_info .de_bthum {border: 1px solid #cecece; width: 100%;}
.detail_wrap .de_info .de_bthum .de_bthum_i {display: flex; justify-content: center; align-items: center; }
.detail_wrap .de_info .de_bthum .de_bthum_i img {width:100%;}
.detail_wrap .de_info .de_sthum .de_bthum_i {width: 25%; border: 1px solid #cecece; cursor: pointer; display: flex; justify-content: center; align-items: center; margin: 2rem 0.5rem;}
.detail_wrap .de_info .de_sthum .de_bthum_i.slick-current{border:0.1rem solid #333;}
.detail_wrap .de_info .de_sthum .de_bthum_i img {width:100%;}
.detail_wrap .de_info .slick-list {padding: 0 !important;}
.detail_wrap .de_sthum .de_bthum_i.active {border: 1px solid #364f6b;}
.detail_wrap .de_info .de_iinfo {width: 60%; display: inline-block; padding-left: 3.5rem;}
.detail_wrap .de_iinfo .sub_de_ibtn1 {margin-top: 1rem;}
.detail_wrap .de_iinfo .sub_de_ibtn1 button {font-size: 1.2rem; color: #666; border: 1px solid #cecece; line-height: 2.5rem; padding: 0rem 1rem; background-color: #fff;}
.detail_wrap .de_iinfo .de_iint {display:flex; justify-content:flex-end; border-bottom:1px solid #ddd; padding:1.5rem 0;}
.detail_wrap .de_iinfo .de_iint p {font-size: 1.4rem; color: #555; line-height: 2.4rem;}
.detail_wrap .de_iinfo .de_iint p span {color: #22a8ef;}
.detail_wrap .de_iinfo .de_iint .de_iil {flex-basis: 20%; padding-left: 0.5rem;}
.detail_wrap .de_iinfo .de_iint .de_iir {flex-basis: 80%; flex-direction: column;}
.detail_wrap .de_iinfo .de_iint .de_iir.price p{font-size:2.4rem; font-weight:500;}
.detail_wrap .de_iinfo .de_iint .sub_d_ii1 {font-size: 2.4rem; color: #22a8ef;}
.detail_wrap .de_iinfo .de_iint .iiselect {font-size: 1.4rem; color: #666; border: 1px solid #cecece; line-height: 3.5rem; }
.detail_wrap .de_iinfo .de_iint .iiselect select {width: 100%;  border: 0; outline: 0; box-shadow: none; -webkit-appearance: none;/* 네이티브 외형 감추기 */ -moz-appearance: none; -ms-appearance: none; appearance: none; background: url(../../images/member_ar.png) no-repeat 95% 50%; /* 화살표 모양의 이미지 */ padding-left: 1.5rem;}
.detail_wrap .de_iinfo .de_iint .sub_de_iop {background-color: #f5f5f5; border: 1px solid #e6e6e6; margin-bottom: 1rem;}
.detail_wrap .de_iinfo .de_iint .sub_de_iop h1 {font-size: 1.4rem; color: #666; border-bottom: 1px solid #e6e6e6; line-height: 4rem; padding-left: 1.5rem;}
.detail_wrap .de_iinfo .de_iint .sub_de_iopb {padding: 1rem 1.5rem; display: flex; justify-content: space-between;}
.detail_wrap .de_iinfo .de_iint .sub_de_iopb button {border: 1px solid #ddd; background-color: #fff; outline: 0; line-height: 3.8em; height: 4rem; width:4rem; border-radius:5rem; outline:none; color:#333;}
.detail_wrap .de_iinfo .de_iint .sub_de_iopb button i{color: #000;}
.detail_wrap .de_iinfo .de_iint .sub_de_iopb input {border: 1px solid #cecece; outline: 0; text-align: center; font-size: 1.2rem; color: #666; font-weight: normal; line-height: 3.8rem; height: 4rem; margin:0 0.4rem;}
.detail_wrap .de_iinfo .de_iint .sub_amount {display: flex; justify-content: space-between;}
.detail_wrap .de_iinfo .de_iint .sub_de_iopbr {display: flex; justify-content: space-between;}
.detail_wrap .de_iinfo .de_iint .sub_de_iopbr p {display: inline-block; font-size: 2rem; line-height: 4rem; margin-right: 0.5rem; color: #666; font-weight: bold;}
.detail_wrap .de_iinfo .de_iint .sub_de_iopbr img {display: inline-block; width: 1.3rem; margin-top: -8px; margin-left: 0.5rem; cursor: pointer;}
.detail_wrap .de_iinfo .de_iint .sub_de_iit1 {vertical-align: top;}
.detail_wrap .de_iinfo .de_iint .de_iir .price_total{display:flex; justify-content: space-between; padding-top: 2rem;}
.detail_wrap .de_iinfo .de_iint .de_iir .price_total p{font-size:3rem; font-weight:500; color:#22a8ef; line-height: 3.4rem;}
.detail_wrap .de_iinfo .de_iint .de_iir .price_total p span{color:#898989;}
.detail_wrap .sub_de_bcart {font-size: 2.4rem; color: #444; border: 1px solid #22a8ef; text-align: center; background-color: #fff; line-height: 6rem; padding:0 3rem;}
.detail_wrap .sub_de_bcart:hover {background-color: #22a8ef; color: #fff; transition: all 0.3s;}
.detail_wrap .sub_de_bbuy {font-size: 2.4rem; color: #fff; border: 1px solid #22a8ef; text-align: center; background-color: #22a8ef; line-height: 6rem; padding:0 3rem; margin-left: 1rem;}
.detail_wrap .sub_de_btn .sub_de_bbuy:hover {background-color: #364f6b; transition: all 0.3s;}

.detain_mo_close_btn{display:none;}
.sub_de_bbuy_fake{display: none;}

.sub_de_tab {width: 100%; margin-top: 10rem;}
.sub_de_tab>ul>li {width: 25%; text-align: center; font-size: 1.8rem; color: #555; background-color: #fff; border: 1px solid #f2f2f2; border-right: 0;}
.sub_de_tab>ul>li:last-child {border-right: 1px solid #f2f2f2;}
.sub_de_tab>ul>li button {color: #333; line-height: 4rem; font-size:1.2rem; width:100%; text-align:center; border:0; background:none;outline: none;}
.sub_de_tab>ul>li button.active{background-color:#333; color:#fff;}
.sub_de_tab>ul>li:hover button{background-color:#333; transition: .5s; color:#fff;}
.sub_de_tab>ul>li span {color: #22a8ef;}
.nav-tabs>li>a {border-radius: 0;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {font-weight: 500; border: 0;}
.nav-tabs>li>a {border: 0;}
.sub_de_tab .tab-content .sub_pro_in>img {width: auto; margin: 4rem auto; display: block; max-width:100%;}

.sub_de_tab .tab-content {margin-top: 8rem;}
.sub_de_tab h1 {font-size: 2.4rem; color: #444; margin-top: 4rem; padding-left: 1rem; border-left:4px solid #000;}
.sub_de_tab h1 img{width:auto;}
.prod_table {width: 100%; border-top: 0.3rem solid #828282; margin: 2rem 0rem;}
.prod_table .prod_tablei {width: 100%; border-bottom: 1px solid #cecece; display: flex;}
.prod_table .prod_tablei:last-child {border-bottom: 1px solid #989898;}
.prod_table .prod_notil {text-align: center; width: 20%; background-color: #f5f5f5; line-height: 4rem; font-size: 1.4rem; color: #555; padding-left: 1.5rem;}
.prod_table .prod_notir {text-align: center; width: 80%; line-height: 4rem; font-size: 1.4rem; color: #666; padding-left: 3.5rem;}

.noti_table {width: 100%;border-top: 0.3rem solid #828282;margin: 2rem 0rem;}
.noti_table .prod_tablei {width: 100%;border-bottom: 1px solid #cecece; display: flex;}
.noti_table .prod_notil {width: 20%; background-color: #f5f5f5; line-height: 4rem; font-size: 1.4rem; color: #555; padding-left: 1.5rem;}
.noti_table .prod_notir {width: 80%;  line-height: 4rem; font-size: 1.4rem; color: #666;  padding-left: 3.5rem;}
.noti_table .prod_notir .prod_notiT1 {font-size: 1.4rem; color: #666;  line-height: 2.4rem; white-space: normal; height: 5rem; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; width: 95%;}
.noti_table .prod_notir .prod_notiT2 {font-size: 1.4rem; color: #666; line-height: 2.4rem; padding: 1rem 0;} */

.prod_notil .prod_more {border: 1px solid #cecece; width: 2rem; height: 2rem; background: url(../../images/sub_detail3.png) no-repeat center #fff; cursor: pointer; display: inline-block; float: right; margin: 1rem 2rem 0rem;}
.sub_pro_event {width: 100%; margin-top: 2rem; display: flex; justify-content: space-between;}
.sub_pro_tbox {width: 100%; margin-top: 7rem;}
.sub_pro_tbox p {font-size: 1.4rem; color: #666; line-height: 2.5rem; margin-top: 2.5rem;}
.sub_pro_brand {margin-top: 10rem;}
.sub_pro_brand .sub_pro_brand1 {margin-top: 2rem; border: 1px solid #cecece; background-color: #f9f9f9; overflow: hidden; display: flex; }
.sub_pro_brand .sub_pro_brand1>img {display: inline-block; width:auto;}
.sub_pro_brand .sub_pro_brand1 .sub_pro_btbox {display: inline-block; padding: 0rem 2rem;}
.sub_pro_brand .sub_pro_brand1 .sub_pro_btbox p {font-size: 1.4rem; color: #666; line-height: 2.5rem; margin-top: 2rem;}
.sub_pro_brand .sub_pro_brand1 .sub_pro_btbox button {border: 1px solid #cecece; background-color: #fff; line-height: 3rem; font-size: 1.2rem; color: #666; padding: 0rem 1.5rem; margin: 4rem 0rem;}
.sub_pro_brand .sub_pro_brand1 .sub_pro_btbox button img {padding-left: 1rem;}
.sub_event_list {width: 100%; overflow: hidden; margin: 5rem 0rem;}
.sub_event_list1 {flex-basis: 25%; padding: 0.5rem; position: relative; z-index: 1; margin-bottom: 1rem;}
.sub_event_list1 .sub_event_listi {width: 100%; overflow: hidden;}
.sub_event_list1 .sub_event_listi img {width: 100%; transition:0.5s;}
.sub_event_list1 .sub_event_listi:hover img{transform: scale(1.02); transition:0.5s;}
.sub_event_list1 .sub_event_ltbox {position: absolute; z-index: 2; left: 0; bottom: 0; background: rgba(255, 255, 255, 0.8); right: 0; padding: 2rem;}
.sub_event_list1 .sub_event_ltbox .sub_e_lt1 {font-size: 1.8rem; color: #444; font-weight: 500;}
.sub_event_list1 .sub_event_ltbox .sub_e_lt2 {font-size: 1.4rem; color: #666; line-height: 2.5rem; height: 5rem;}
.sub_event_list1 .sub_event_ltbox .sub_e_lt3 {font-size: 1.2rem; color: #888; padding-top: 1rem;}

@media (max-width:128rem){
    .detail_wrap .de_iinfo .de_iint .de_iil{flex-basis:35%;}
    .detail_wrap .de_iinfo .de_iint .de_iir{flex-basis:65%;}
}

@media (max-width:99rem){
    .detail_wrap{margin-top: 2rem;}
    .detail_wrap .de_info{flex-direction: column;}
    .detail_wrap .detail_title{flex-direction: column; padding:1rem;}
    .detail_wrap .detail_title h1{font-size:2rem;}
    .detail_wrap .de_info .de_slid_wrap{width:100%;}
    .detail_wrap .de_info .de_iinfo{width:100%;padding: 1rem;}
    .detail_wrap .de_iinfo .de_iint .de_iil{flex-basis:25%;}
    .detail_wrap .de_iinfo .de_iint .de_iir{flex-basis:75%;}
    .detail_wrap .de_iinfo .de_iint .sub_de_iop h1{text-overflow: ellipsis; white-space: nowrap;}
    .sub_event_list1 .sub_event_ltbox .sub_e_lt1{font-size:1.4rem;}
    .sub_event_list1 .sub_event_ltbox .sub_e_lt2{font-size:1.2rem;}
    .sub_pro_brand{margin-top: 3rem; margin-bottom: 4rem;}
    .sub_pro_brand .sub_pro_brand1{flex-direction: column;}
    .de_iint.sdi_btn_botm{position: fixed; left:0; right:0; bottom:0; background-color:#f5f5f5; border-top:1px solid #ddd; z-index: 100; padding: 0.5rem 0 !important; justify-content: center !important; box-shadow:0 0 0.5rem rgba(0,0,0,0.2);}
    .de_iint.sdi_btn_botm button{line-height: 3rem; font-size:1.4rem; border-radius:5rem;}
    .sub_pro_brand .sub_pro_brand1 .sub_pro_btbox p{font-size:1.2rem; line-height:1.8rem;}
    .sub_pro_brand .sub_pro_brand1 .sub_pro_btbox button{margin: 1rem 0;}
    .detain_mo_option{position: fixed; left:0; bottom:0; right:0; background-color:#fff; z-index: 100; height:0; overflow-y: scroll; padding:0; box-shadow:0 0 1rem rgba(0,0,0,.2);}
    .detain_mo_option.on{height:50%; padding:0 1rem 5rem 1rem;}
    .detain_mo_close_btn{display:flex; position: sticky; top:0; left:0; right:0; justify-content: center; z-index: 101;}
    .detain_mo_close_btn button{background:none; border:0; font-size:3rem; font-weight:bold; width:100%; background-color:#fff;}
    .detail_wrap .de_iinfo .de_iint p{line-height: 3.7rem;}
    .sdibb_pricebtn{position: relative; }
    .sdibb_pricebtn .sub_de_bbuy_fake{position: absolute; left:0; right:0; bottom:0; top:0; display: block;}
    .sdibb_pricebtn .sub_de_bbuy_fake.on{display: none;}
}

@media (max-width:77rem){
    .detail_review{margin-top: 2rem;}
    .detail_wrap .de_iinfo .sdi_btn_botm{justify-content: center !important; }
    .detail_wrap .de_iinfo .de_iint{padding: 0.5rem 0;}
    .detail_wrap .sub_de_bcart{padding: 0 2rem; font-size:1.6rem; line-height: 4rem;}
    .detail_wrap .sub_de_bbuy{padding: 0 2rem; font-size:1.6rem; line-height: 4rem;}
    .detail_wrap .detail_title h1{font-size:1.5rem; line-height: 2rem; padding-bottom: 1rem;}
    .detail_wrap .de_iinfo .de_iint .de_iil{flex-basis:30%;}
    .detail_wrap .de_iinfo .de_iint .de_iir{flex-basis:70%;}
    .detail_wrap .de_iinfo .de_iint .de_iir.price p{font-size:1.3rem;}
    .detail_wrap .de_iinfo .de_iint .sub_d_ii1{font-size:2rem;}
    .detail_wrap .de_iinfo .de_iint .de_iil p{font-size:1.1rem;}
    .detail_wrap .de_iinfo .de_iint .de_iir p{font-size:1.2rem;}
    .detail_wrap .de_iinfo .de_iint.price_option_selecte{flex-direction: column;}
    .detail_wrap .de_iinfo .de_iint.price_option_selecte .de_iil p{margin-bottom: 1rem;}
    .detail_wrap .de_iinfo .de_iint .de_iir .price_total p{font-size:2rem;}
    .detail_wrap .de_iinfo .de_iint .iiselect select{font-size:1.2rem; padding-left: 0.5rem;}
    .sub_de_tab{margin-top: 3rem;}
    .sub_de_tab .tab-content{margin-top: 0;}
    .sub_de_tab .tab-content .sub_pro_in>img{margin: 1rem auto;}
    .sub_de_tab>ul>li{align-items: center; align-items: center; display: flex; justify-content: center; width:33.3333%;}
    .sub_de_tab>ul>li button{line-height: 1.6rem; font-size:1.2rem; line-height: 3rem;}
    .sub_de_tab h1{font-size:1.6rem; margin-top: 1.5rem;}
    .noti_table .noti_tablei{flex-direction: column;}
    .noti_table .prod_notil{padding: 1rem; font-size:1.2rem; width:100%; line-height: 1.6rem; background-color:#d8d8d8;}
    .noti_table .prod_notir{padding: 1rem; line-height: 1.6rem; font-size:1.2rem;}
    .noti_table .prod_notir{display: block; width:100%; }
    .sub_pro_event{flex-flow: wrap;}
    .sub_event_list1{flex-basis: 50%;}
    .sub_event_list1 .sub_event_ltbox{position: inherit; padding: 0.5rem;}
    .sub_pro_tbox p{font-size:1.2rem;}

    .prod_table .prod_tablei{flex-direction: column;}
    .prod_table .prod_notil{padding: 1rem; font-size:1.2rem; width:100%; line-height: 1.6rem; background-color:#d8d8d8;}
    .prod_table .prod_notir{padding: 1rem; line-height: 1.6rem; font-size:1.2rem;}
    .prod_table .prod_notir{display: block; width:100%; }

}

.detail_review .dr_tit>h1>span{font-size:1.6rem; color:#666;}
.dr_tit {display: flex; justify-content: space-between; padding-bottom: 1rem; border-bottom:1px solid #ddd;}
.dr_tit h1{margin-top: 0; line-height: 3rem;}
.dr_tit .dr_sel select{line-height: 3rem; height: 3rem; font-size:1.2rem; min-width:10rem; border:1px solid #ddd;}

.detail_qna .detail_tit{display: flex; justify-content: space-between; padding-bottom: 1rem; border-bottom:1px solid #ddd;}
.detail_qna .detail_tit h1{margin-top: 0; line-height: 3rem;}
.detail_qna .dr_sel select{line-height: 3rem; height: 3rem; font-size:1.2rem; min-width:10rem; border:1px solid #ddd;}
.detail_qna .dr_sel input{line-height: 3rem; height:3rem; font-size:1.2rem; border:1px solid #ddd; border-radius:0;}
.detail_qna .dr_sel button{line-height: 3rem; height: 3rem; font-size:1.2rem; border:1px solid #ddd; padding:0 2rem; }

.dq_qna_list{margin-top: 1rem; padding-bottom: 3rem; overflow-x: auto;}
.dq_qna_list .dql_cover{display: flex; flex-direction: column; min-width:90rem;}
.dq_qna_list .dql_cover .dql_con_cover{display: flex; justify-content: space-between;}
.dq_qna_list .dql_cover .dql_tit{background-color:#333; line-height: 3rem; font-size:1.4rem; color:#fff;}
.dq_qna_list .dql_cover .dql_num{flex-basis: 10%; text-align: center; border-right:1px solid #ddd; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.dq_qna_list .dql_cover .dql_type{flex-basis: 15%; text-align: center; border-right:1px solid #ddd; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.dq_qna_list .dql_cover .dql_con{flex-basis: 40%; text-align: center; border-right:1px solid #ddd; text-overflow: ellipsis; overflow: hidden;}
.dq_qna_list .dql_cover .dql_state{flex-basis: 15%; text-align: center; border-right:1px solid #ddd; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.dq_qna_list .dql_cover .dql_name{flex-basis: 10%; text-align: center; border-right:1px solid #ddd; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.dq_qna_list .dql_cover .dql_day{flex-basis: 10%; text-align: center;}

.to_inquire{text-align: center;}
.to_inquire button{line-height: 4rem; padding:0 1rem; min-width:20rem;font-size:1.4rem; border:1px solid #333; background-color:#fff; transition:.5s;}
.to_inquire button:hover{background-color:#333; color:#fff; transition:.5s;}

.inquire_box .modal-header{padding:0;}
.inquire_modal_tit{display: flex; width:100%;}
.inquire_modal_tit ul{flex-direction: column; display: flex; width:100%; padding:1rem;}
.inquire_modal_tit ul li{display: flex; justify-content: flex-start; font-size:1.2rem; line-height: 3rem; border-bottom:1px solid #ddd;}
.inquire_modal_tit ul li .imt_txt{flex-basis: 20%; background-color:#f2f2f2; text-align: center;}
.inquire_modal_tit ul li .imt_txt p{line-height: 4rem;}
.inquire_modal_tit ul li .imt_form{flex-basis: 80%; padding:0.5rem;}
.inquire_modal_tit ul li .imt_form select{height:3rem; line-height: 3rem; border-radius:0; width:100%; border-color:#ddd; outline: none; padding:0 1rem;}
.inquire_modal_tit ul li .imt_form input{width:100%; border-color:#ddd; line-height: 3rem; border:1px solid #ddd; outline: none; padding:0 1rem;}
.inquire_box .modal-body textarea{width:100%; min-height:15rem; border:1px solid #ddd; outline: none; padding:1rem; font-size:1.2rem;}
.inquire_box .modal-footer button{font-size:1.4rem; line-height: 3rem;}

@media (max-width:77rem){
    .detail_qna .detail_tit{margin-top: 3rem; flex-direction: column;}
    .detail_qna .detail_tit .dr_sel{display: flex; margin-top: 1rem;}
    .detail_qna .dr_sel select{flex-basis: 30%;}
    .detail_qna .dr_sel input{flex-basis: 40%;}
    .detail_qna .dr_sel button{flex-basis: 30%; padding: 0;}
}

.how_use{text-align: center;background: #595959;overflow: hidden;}
.how_use iframe{width: 100%; max-width: 1000px; height: 100%; min-height: 1000px;}

/* form css */
.down_link{background-color: #000; padding: 1.5rem 0; text-align: center; transition: all 0.5s; margin-bottom: 1rem;} 
.down_link:hover{background-color:#d26283; transition:all 0.3s;}
.down_link a{color: #fff; font-size: 1.8rem; display: inline-block;}
.form_img {text-align: center;}
.form_img img{max-width: 900px; margin: 0 auto;}
.down_link{position: sticky; left:0; top:0; bottom:0; right:0; z-index: 100; overflow: hidden;}
