/* @charset "utf-8";

.not ul li a{
    font-size: 20px;
    color: #fff;
}
.not > ul{
   display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #333;
    height: 45px;
	line-height: 54px;
    overflow: hidden;
    background: rgba(0,0,0,0.77)
}
.not > ul>li:nth-child(1){
    width: 120px;
}
.not > ul>li:nth-child(2){
    width: calc(100% - 250px);
    
}
.not ul li a{
    display: block;
    line-height: 44px;
    text-indent: 10px;
	
}
.not ul li:hover a{
    text-decoration: underline;
    font-weight: 600;
}
.not > ul>li:nth-child(3){
    width: 80px;
}
.no_notes ul{
   position: relative;
    height: 60px;
}
.no_notes ul> li{
    position: absolute;
    top: 100%;
	width: 100%;
}
.no_notes ul> li:first-child{
    top: 0;
}

.no_notes > ul > li >a {
    font-size: 18px;
	width: 100%;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	
} */